{% extends "realty/realty.html" %}

{% block title %}Avalon{% endblock %}

{% block realty_content %}
    
    <h1>Избранное!</h1>
    
    <div class="row">
        
    <div class="span8">
    
        {% if items_count %}
            
            {% for item in items %}
                
                {% include "realty/object_favorite.html" %}
                
            {% endfor %}
        
        {% else %}
        
            There is no item to show
            
        {% endif %}
    
    </div>
    
    <div class="span4">
        
        <div style="background: black; color: white; margin-top: 30px;">
        <p>
            Мы можем собрать ваше избранное в PDF-буклет.
        </p>
        <a href="/favorites/pdf" class="btn" target="_blank">
            Собрать буклет!
        </a>
        </div>
        
    </div>
    
    </div>
    
{% endblock %}