<!DOCTYPE html>
<html>
    <head>
        <title>Avalon - Избранное</title>
        <meta charset="utf-8" />
        <style type="text/css">
            @page {
                size: {{ pagesize }};
                margin: 1cm;
                @frame footer {
                    -pdf-frame-content: footerContent;
                    bottom: 0cm;
                    margin-left: 9cm;
                    margin-right: 9cm;
                    height: 1cm;
                }
            }
            @font-face { font-family: Arial; src: url({{MEDIA_ROOT}}/fonts/arial.ttf); }
            body { font-size: 14px; line-height: 1em; font-family: Arial; }
        </style>
    </head>
    <body>
    
    <h1>Avalon - Избранное!</h1>
        
    <div>
    
        {% if items_count %}
            
            {% for item in items %}
                
                {% include "realty/object_favorite.html" %}
                
            {% endfor %}
        
        {% else %}
        
            There is no item to show
            
        {% endif %}
    
    </div>
    
    </body>
</html>