<div style="position: relative">
{% if item.cover %}
    <img src="{{ url }}" alt="">
{% else %}
    <img src="http://placehold.it/{{ width }}x{{ height }}" alt="">
{% endif %}
{% if item.count_images > 1 %}
    <div style="position: absolute; top:10px; left:10px; width: 20px; height: 20px; background: red; font-size: 20px; font-weight: bolder;">
        {{ item.count_images }}
    </div>
{% endif %}
</div>