{% load realty_extras %}
<div class="row realty-item">
    <div class="span3">
        {% image item %}
    </div>
    <div class="span3">
        <a href="{{ item.url }}">{{ item.title }}</a><br>
        <a href="/realty/?country={{ item.country.pk }}">{{ item.country.title }}</a>,
        <a href="/realty/?country={{ item.country.pk }}&city={{ item.city.pk }}">
            {{ item.city.title }}
        </a>
    </div>
    <div class="span1">
        <b>{{ item.price }}</b>
        
    </div>
    <div class="span2">
        <a href="#" class="btn">Связаться с консультантом</a>
        {% favorite_link item user "True" %}
    </div>
</div>