{% load realty_extras %}
<div style="width: 300px; height: 280px; float: left;">
    {% image item %}
    <div>
        <a href="{{ item.url }}">{{ item.title }}</a>
    </div>
    <div>
        <b>{{ item.price }}</b><br>
        Площадь: {{ item.square }}
    </div>
    <div>
        <a href="#" class="btn">Связаться с консультантом</a>
        {% favorite_link item user %}
    </div>
</div>