{% extends "base.html" %}

{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}Avalon{% endblock %}

{% block custom_head %}
    <script type="text/javascript" src="{{ STATIC_PREFIX }}scripts/realty.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}fotorama/fotorama.js"></script>
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}fotorama/fotorama.css" type="text/css" media="screen" />
{% endblock %}

{% block content %}
    
    {% block realty_content %}
        Some content here
    {% endblock %}
    
    <script type="text/javascript">
        $( function() {
            Map.init({{ map_items_json|safe|default:'null' }});
        });
    </script>
    
{% endblock %}