{% extends "realty/realty.html" %}

{% block title %}Avalon{% endblock %}

{% block realty_content %}
    
    <div id="topMapWrapper" class="top-map-wrapper">
        <div id="topMapHint" class="top-map-hint well"
            data-title-closed="Показать карту&darr;"
            data-title-opened="Скрыть карту&uarr;"
            >
            Показать карту&darr;
        </div>
        <div class="top-map" id="topMap">
        </div>
    </div>
    
    <div class="row realty-search-top">
        
        <div class="span3">
            
            <div class="btn-group">
                {% for view in apperance_variants %}
                    <a href="{{ url_apperance }}apperance={{ view.0 }}" class="btn{% if apperance == view.0 %} active{% endif %}">
                        {{ view.1 }}
                    </a>
                {% endfor %}
            </div>
            
        </div>
        
        <div class="span6">
            
            <h2>Найдено {{ items_count }} объектов</h2>
            
        </div>
        
        <div class="span3">
            
            <label>Сортировать по:</label>
            <select id="searchOrder" data-url="{{ url_order }}order=">
                {% for ord in order_variants %}
                <option value="{{ ord.0 }}"{% if order == ord.0 %} selected{% endif %}>
                    {{ ord.1 }}
                </option>
                {% endfor %}
            </select>
            
        </div>
        
    </div>
    
    <div class="row">
        
        <div class="span3 sidebar">
            
            <form action="." method="get">
                {{ form.price_from.label_tag}}
                {{ form.price_from }}
                {{ form.price_to.label_tag}}
                {{ form.price_to }}
                {{ form.currency }}
                
                {{ form.square_from.label_tag}}
                {{ form.square_from }}
                {{ form.square_from.label_tag}}
                {{ form.square_from }}
                
                {{ form.country.label_tag }}
                {{ form.country }}
                
                {{ form.type.label_tag }}
                {{ form.type }}
                
                <input type="hidden" name="apperance" value="{{ apperance }}">
                <input type="hidden" name="order" value="{{ order }}">
                
                <input type="submit" class="btn" value="Показать">
            </form>
            
        </div>
        
        <div class="span9">
            
            {% if items_count %}
                
                {% if apperance == 'list' %}
                
                    {% for item in items %}
                        
                        {% include "realty/object_list.html" %}
                        
                    {% endfor %}
                
                {% else %}
                    
                    {% for item in items %}
                    
                        {% include "realty/object_card.html" %}
                        
                    {% endfor %}
                    
                {% endif %}
            
            {% else %}
            
                There is no item to show
                
            {% endif %}
            
            <div class="row">
                
            <div class="span6">
            
                <div class="pagination">
                <ul>
                    {% for p in page_obj.paginator.page_range %}
                        <li{% if page_obj.number = p %} class="active"{% endif %}>
                            <a href="{{ url_paginator }}page={{p}}">{{p}}</a>
                        </li>
                    {% endfor %}
                </ul>
                </div>
                
            </div>
            
            <div class="span3">
            
                <div class="pagination pagination-right">
                <ul>
                    {% if page_obj.has_previous %}
                        <li><a href="{{ url_paginator }}page={{ page_obj.previous_page_number }}">Предыдущая</a></li>
                    {% endif %}
            
                    {% if page_obj.has_next %}
                        <li><a href="{{ url_paginator }}page={{ page_obj.next_page_number }}">Следующая</a></li>
                    {% endif %}
                </ul>
                </div>
            
            </div>
            
            </div>
            
        </div>
        
    </div>
    
{% endblock %}
