{% extends "realty/realty.html" %}

{% load realty_extras %}

{% block title %}Avalon{% endblock %}

{% block realty_content %}
    
    <h1>{{ item.title }}</h1>
    
    <div class="row">
        
    <div class="span7">
    
        {% if images_count %}
        <div class="fotorama" data-width="500" data-height="300">
            {% for image in images %}
                <a href="{{ image.image.url_500x300 }}"><img src="{{ image.image.url_125x125 }}"></a>
            {% endfor %}
        </div>
        {% endif %}
    
    </div>
    
    <div class="span5">
        
        <div class="well">
            Стоимость:<br>
            <b>{{ item.price }}</b><br>
            <a href="#" class="btn">Связаться с консультантом</a>
            {% favorite_link item user %}
        </div>
        
        <div class="well">
            <h3>Карта</h3>
            <div class="view-map" id="viewMap"></div>
        </div>
        
    </div>
    
    </div>
    
    <div class="row">
        
    <div class="span7">
    
        <h3>Описание</h3>
        <p>{{ item.description }}</p>
    
    </div>
    
    <div class="span5">
        
        <h3>Детали</h3>
        <p><b>Площадь:</b>&nbsp;{{ item.square }}</p>
        
    </div>
        
    </div>
    
{% endblock %}