{% extends "base.html" %}

{% block title %}Avalon{% endblock %}

{% block content %}
    
    {% if success %}
        Вы успешно активировали аккаунт! Пожалуйста, <a href="/login/" title="Login">залогиньтесь</a>.
    {% else %}
        <p style="color:red">Неудача! Код активации неверен!</p>
    {% endif %}
    
{% endblock %}