{% extends "base.html" %}
{% load webdesign %}

{% block title %}Avalon{% endblock %}

{% block content %}
    
    <h1>Добро пожаловать!</h1>
    
    <div class="row">
        
    <div class="span6">
    
    <form method="post" action="." class="form-horizontal">
    {% csrf_token %}
    
    <fieldset>
    
    {% if form.errors %}
        <div class="alert alert-error">
            <h4 class="alert-heading">Ошибка!</h4>
            Пожалуйста, введите верные имя пользователя и пароль. Помните, оба поля чувствительны к регистру.
        </div>
    {% endif %}
    
    <div class="control-group">
        <label class="control-label" for="username_id">Электронная почта</label>
        <div class="controls">
            {{ form.username }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="password_id">Пароль</label>
        <div class="controls">
            {{ form.password }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="remember_me_id">
            Запомнить меня
        </label>
        <div class="controls">
            {{ form.remember_me }}
        </div>
    </div>
    </fieldset>
    
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Войти">
    </div>
    </form>
    
    </div>
    
    <div class="span6">
        
        <p><b>Еще не зарегистрированы?</b></p>
        <p>Регистрация нужна для того, чтобы...{% lorem 20 w %}</p>
        
        <a class="btn" href="/sign_up/">Зарегистрироваться</a>
    </div>
    
    </div>
    
{% endblock %}