<html>
Avalon password reset.
To reset your password please follow the
<a href="{{ protocol }}://{{ domain }}{% url auth_password_reset_confirm uidb36=uid, token=token %}">
    link
</a>.
Thank you!
</html>