{% extends "base.html" %}

{% block title %}Avalon{% endblock %}

{% block content %}
    
    {% if validlink %}
    <form method="post" class="form-vertical" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn" value="Submit" />
    </form>
    {% else %}
    <div class="alert alert-error">Ошибочная ссылка.</div>
    {% endif %}
    
{% endblock %}
