{% extends "base.html" %}

{% block title %}Avalon{% endblock %}

{% block content %}
    
    <h1>Восстановление пароля</h1>
    
    <form method="post" action="." class="form-horizontal">
    {% csrf_token %}
    
    <fieldset>
    <div class="control-group{% if form.email.errors %} error{% endif %}">
        <label class="control-label" for="username_id">Электронная почта</label>
        <div class="controls">
            {{ form.email }}
            {% if form.email.errors %}
                <span class="help-inline">{{ form.email.errors }}</span>
            {% endif %}
        </div>
    </div>
    </fieldset>
    
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Сбросить пароль">
    </div>
    </form>
    
{% endblock %}