{% extends "base.html" %}

{% block title %}Avalon{% endblock %}

{% block content %}
    
    <div class="row">
        
    <div class="span6">
    
    <div class="editable{% if not username %} editable-edit{% endif %}">
        <div class="editable-text">
            <h2>Aloha, <span class="editable-result">{{ username }}</span>!</h2>
        </div>
        <div class="editable-error alert alert-error"></div>
        <div class="editable-form">
            <form action="/profile/edit/" class="well form-inline">
                {% csrf_token %}
                <input type="text" name="first_name" class="input-small" placeholder="Имя" value="{{ user.first_name }}">
                <input type="text" name="last_name" class="input-small" placeholder="Фамилия" value="{{ user.last_name }}">
                <a href="#" onclick="return false" class="btn editable-submit" data-loading-text="Подождите...">Сохранить</a>
                {% if username %}
                    <a href="#" onclick="return false" class="btn editable-cancel">Отмена</a>
                {% endif %}
            </form>
        </div>
    </div>
    
    </div>
    
    </div>
    
    <div class="row">
        
    <div class="span8">
        
        {% comment %}Avatar upload{% endcomment %}
        <h3>Сменить аватар</h3>
        <form action="/profile/changeavatar/" method="post" enctype="multipart/form-data" class="well form-vertical">
            {{ avatar_form.errors }}
            {% if user.get_profile.avatar %}
                <img src="{{user.get_profile.avatar.url_32x32}}" width=32 height=32 alt="User avatar">
            {% else %}
                <img src="http://placehold.it/32x32" width=32 height=32 alt="">
            {% endif %}
            {% csrf_token %}
            <input name="avatar" type="file">
            <input type="submit" class="btn" value="Сохранить">
        </form>
        
        
        {% comment %}Email and password change form{% endcomment %}
    
    </div>
    
    <div class="span4">
        
        <h3>Избранное!</h3>
        <p></p>
        
        <a class="btn" href="/favorites/">Перейти в избранное&rarr;</a>
    </div>
        
    </div>
    
{% endblock %}