{% extends "base.html" %}
{% load webdesign %}

{% block title %}Avalon{% endblock %}

{% block content %}
    
    <h1>Регистрация</h1>
    
    <div class="row">
        
    <div class="span6">
    
    <form method="post" action="." class="form-horizontal">
    {% csrf_token %}
    
    <fieldset>
    <div class="control-group{% if form.email.errors %} error{% endif %}">
        <label class="control-label" for="email_id">Электронная почта</label>
        <div class="controls">
            {{ form.email }}
            {% if form.email.errors %}
                <span class="help-inline">{{ form.email.errors }}</span>
            {% endif %}
        </div>
    </div>
    <div class="control-group{% if form.password.errors %} error{% endif %}">
        <label class="control-label" for="password_id">Пароль</label>
        <div class="controls">
            {{ form.password }}
            {% if form.password.errors %}
                <span class="help-inline">{{ form.password.errors }}</span>
            {% endif %}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="subscribe_id">
            Я хочу получать еженедельную рассылку объектов недвижимости на электронную почту
        </label>
        <div class="controls">
            {{ form.subscribe }}
        </div>
    </div>
    </fieldset>
    
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Зарегистрироваться">
    </div>
    </form>
    
    </div>
    
    <div class="span6">
        
        <p><b>Уже зарегистрированы?</b></p>
        <p>Чтобы войти, вам не нужно...{% lorem 20 w %}</p>
        <p><a href="/password_reset/">Забыли пароль?</a></p>
        
        <a class="btn" href="/login/">Войти</a>
    </div>
    
    </div>
    
{% endblock %}