{% load static %}
{% load realty_extras %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html lang="en">
  <head>
	<title>{% block title %}Avalon{% endblock %}</title>
	<meta charset="utf-8" />
	<script type="text/javascript" src="{{ STATIC_PREFIX }}scripts/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_PREFIX }}bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_PREFIX }}scripts/main.js"></script>
	<link rel="stylesheet" href="{{ STATIC_PREFIX }}styles/main.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ STATIC_PREFIX }}bootstrap/css/bootstrap.css" type="text/css" media="screen" />
    <!--<link rel="stylesheet" href="{{ STATIC_PREFIX }}bootstrap/css/bootstrap-responsive.min.css" type="text/css" media="screen" />-->
	{% block custom_head %}{% endblock %}
  </head>

  <body>
    
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
            
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            
            <a class="brand" href="/">Avalon</a>
            
            <div class="nav-collapse">
           
            <ul class="nav pull-left">
                {% include "menu.html" %}
            </ul>
            
            <ul class="nav pull-right">
				{% if user.is_authenticated %}
				<li>
				  <a href="/favorites/">Избранное
				  {% favorites_count user %}
				  </a>
                </li>
                <li class="divider-vertical"></li>
				<li class="dropdown">
				  <a href="#" onclick="return false" class="avatar dropdown-toggle">
					{% if user.get_profile.avatar %}
					  <img src="{{user.get_profile.avatar.url_32x32}}" width=32 height=32 alt="User avatar">
					{% else %}
					  <img src="http://placehold.it/32x32" width=32 height=32 alt="">
					{% endif %}
					<b class="caret"></b>
				  </a>
				  <ul class="dropdown-menu">
					  <li class="nav-header">
						{% if user.first_name or user.last_name %}
						  {{ user.first_name }} {{ user.last_name }}
						{% else %}
						  Anonimous
						{% endif %}
					  </li>
					  <li class="divider"></li>
					  <li><a href="/profile/">Настройки профиля</a></li>
					  <li><a href="/logout/">Выход</a></li>
				  </ul>
				</li>
				{% else %}
                <li>
                    <a href="/login/">Войти</a>
                </li>
                <li class="divider-vertical"></li>
                <li>
                    <a href="/sign_up/">Зарегистироваться</a>
                </li>
				{% endif %}
            </ul>
            
            </div>
            
          </div>
        </div>
      </div>
    
      <div id="alerts">
    
      </div>

    <div class="container">

		{% block content %}{% endblock %}

    </div> <!-- /container -->
    
    <hr>
    <footer>
        <div class="container">
		  <div class="row">
		  <div class="span10">
			  {% countries_list %}
			  <a href="/home/">Инвестиционные проекты</a>
		  </div>
		  <div class="span2">
			  {% if user.is_authenticated %}
				  <a href="/favorites/">Избранное</a> |
			  {% endif %}
			  <a href="/home/">Компания</a>
		  </div>
		  </div>
        </div>
    </footer>

  </body>
</html>
