<li>
    <a href="/realty/">Недвижимость</a>
</li>
<li class="divider-vertical"></li>
<li>
    <a href="/home/">Инвестиции</a>
</li>
<li class="divider-vertical"></li>
<li>
    <a href="/home/">Новости</a>
</li>
<li class="divider-vertical"></li>
<li>
    <a href="/home/">Компания</a>
</li>
<li class="divider-vertical"></li>
<li>
    <a href="/home/">Контакты</a>
</li>