body {
    padding-top: 41px;
}

.hide {
    display: none;
}

.navbar .nav > li > a.avatar {
    padding: 0;
}

footer {
    height: 100px;
}

.editable .editable-text {
    padding: 6px;
    background: yellow;
    overflow: hidden;
    cursor: text;
    border: 1px solid white;
}
.editable .editable-text:hover {
    border: 1px solid gray;
}
.editable .editable-form {
    display: none;
}
.editable-edit .editable-text {
    display: none;
}
.editable-edit .editable-form {
    display: block;
}
.editable-error {
    display: none;
}

.realty-item {
    padding: 10px 0;
}

.view-map {
    background: gray;
    height: 300px;
    width: 300px;
}

.top-map-wrapper {
    position: relative;
    height: 100px;
    transition:height 0.3s linear;
	-webkit-transition:height 0.3s ease-in-out;
}

.top-map-wrapper-open {
    height: 500px;
}

.top-map {
    background: gray;
    /*height: 100%;
    width: 100%;*/
    position: absolute; top: 0; left: 0; right: 0; bottom:0; z-index: 1; overflow: hidden;
}

.top-map-hint {
    z-index: 1000;
    position: absolute;
    top: 20px;
    width: 100px;
    left: 50%;
    margin-left: -100px;
}

.realty-search-top {
    margin: 10px 0;
}