{% extends "base.html" %}

{% block title %}Avalon{% endblock %}

{% block content %}
    
    <h1 class="page-header">500</h1>
    <div class="alert alert-error">Упс, ошибка сервера</div>
    
{% endblock %}