{% extends "base.html" %}

{% block title %}Avalon{% endblock %}

{% block content %}
    
    <h1 class="page-header">404</h1>
    <div class="alert alert-error">Страница не найдена</div>
    
{% endblock %}